[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "reliabilitydiag"]
	path = reliabilitydiag
	url = https://github.com/aijordan/reliabilitydiag
[submodule "triptych"]
	path = triptych
	url = https://github.com/aijordan/triptych
